/* COLORS */

$col_bg2: rgba(200, 140, 40, .845);
$col_main: rgb(200, 140, 40);

// PRESETS

@mixin sectionWrap() {
  margin: {
    left: auto;
    right: auto;
  }
  max-width: 800px;

}

@mixin border($radius, $width, $style, $color) {
  //-ms-border-radius: $radius;
  //-o-border-radius: $radius;
  -moz-border-radius: $radius;
  -webkit-border-radius: $radius;
  border-radius: $radius;
  border: $width $style $color;
}

/* MAIN CSS */

* {
  box-sizing: border-box;
  margin: 0;
  list-style-type: none;
  color: white;
}

body {
  background:  url(../img/handprints.jpg) 0 0 / 10% repeat;

}

main {
  & > h2 {
    @include sectionWrap;

    color: $col_main;
    text-shadow: white 0 0 3px;

  }

  & > div {
    box-shadow: 0 0 12px black;
    border-top: 1px solid #37393b;
    border-bottom: 1px solid #37393b;
    background: $col_bg2;
    padding: 1em;

    * {
      @include sectionWrap;

    }
  }
}

footer {
  min-height: 100%;
}

.mainmenu > li {
  display: inline-block;
  position: relative;

  ul {

    display: none;
    position: absolute;
  }

  &:hover, &:active {
    ul {
      display: block;
    }
  }
}

.submenu {

  li {
    display: block
  }
}
