* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Roboto, Arial, sans-serif;
    font-size: 12pt;
}


h1 {
}

h2 {
}

h3 {
}

h4 {
}

p {
}

a {
    &, &:link, &:visited {
        color: $c_main;
    }

    &:hover, &:active {
        color: $c_alt;
    }
}

img {

}

ul, ol, li {
}

dl {
    display: grid;
    width: 100%;
    grid-template-columns: 20% 80%;
    grid-gap: 2em;
}

dt {
    font-weight: bold;
    text-align: right
}

dd {
    margin: 0;
}


form {
    margin: 0 auto;
    max-width: 400px;

    a {
        float: right;
        font-size: 0.9em;

        &:hover, &:active {
            color: $c_alt;
        }
    }
}

button {
    display: block;
    margin: 0.4em auto;
}

label {
    font-size: 1.1em;
}

input {
    display: block;
    width: 100%;
    margin: 0.4em 0 1em;
}

.split {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-gap: 1em;
    margin: 0;
    padding: 0;

    * {
        margin-top: 0;
    }

    img {
        width: 100%;
        height: auto;
    }
}
