/* COLORS */
/* MAIN CSS */
* {
  box-sizing: border-box;
}

body, html {
  margin: 0;
  padding: 0;
  background-color: #fafffa;
  color: black;
  font-family: Helvetica, Roboto, Arial, sans-serif;
  font-size: 12pt;
}

header, main, footer {
  width: 100%;
}

.wrapped, .main-nav, .context-nav, .content, .nav-control {
  margin-left: auto;
  margin-right: auto;
  max-width: 1010px;
}

.main-nav {
  position: relative;
  margin-top: 0;
}
.main-nav a.site-logo {
  display: block;
  position: absolute;
  left: 1em;
  margin: 0;
  padding: 0;
  border: 0 none;
}
.main-nav a.site-logo img {
  height: 108px;
  width: 199.65405px;
  border: 0 none;
  box-shadow: 0 0 8px black;
}
.main-nav h1 {
  display: none;
}
.main-nav ul {
  width: 100%;
  margin: 0;
  padding: 1em 0;
  text-align: right;
}
.main-nav li {
  display: inline-block;
  margin: 0 0.8em;
}
.main-nav li:hover .link {
  color: #A6D49F;
}
.main-nav li:hover .link:before {
  background-position-y: -40.5px;
}
.main-nav li .link {
  color: #0b5500;
  text-decoration: none;
}
.main-nav li .link:before {
  display: block;
  position: relative;
  content: " ";
  margin: 0 auto;
  height: 20px;
  width: 20px;
  background-image: url("../img/buttons.png");
  background-size: 84px 80px;
  background-position-y: -20px;
  background-repeat: no-repeat;
}
.main-nav li .profile:before {
  background-position-x: 0;
}
.main-nav li .login:before {
  background-position-x: -20px;
}
.main-nav li .logout:before {
  background-position-x: -40px;
}
.main-nav li .home:before {
  width: 23px;
  background-position-x: -61px;
}

.context-nav ul {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  padding-left: 240px;
}
.context-nav a {
  display: block;
  line-height: 2.5em;
  font-size: 1.1em;
  padding: 0 1em;
}
.context-nav a, .context-nav a:link, .context-nav a:visited, .context-nav a:hover, .context-nav a:active {
  color: white;
  text-decoration: none;
}
.context-nav li {
  display: inline-block;
  position: relative;
  overflow: visible;
}
.context-nav li:hover, .context-nav li.active {
  background-color: #ca6e00;
}
.context-nav li:hover ul, .context-nav li.active ul {
  display: block;
}
.context-nav li ul {
  display: none;
  position: absolute;
  background: #ca6e00;
}
.context-nav li ul li {
  display: block;
}
.context-nav li ul li:hover {
  background: #0b5500;
}

.content {
  padding: 1em 1em 3em;
}

article h2 {
  text-shadow: white 0 0 3px;
}
article > div {
  box-shadow: 0 0 12px black;
  border-top: 1px solid #37393b;
  border-bottom: 1px solid #37393b;
  padding: 1em;
}

a, a:link, a:visited {
  color: #0b5500;
}
a:hover, a:active {
  color: #ca6e00;
}

.site-bar {
  width: 100%;
  min-height: 1.6rem;
  background: #0b5500;
  box-shadow: #020202 0 0 8px;
  color: #fafffa;
}

.nav-control {
  display: grid;
  grid-template-columns: auto auto;
}
.nav-control > * {
  text-align: center;
}

form {
  margin: 0 auto;
  max-width: 400px;
}
form label {
  font-size: 1.1em;
}
form input {
  display: block;
  width: 100%;
  margin: 0.4em 0 1em;
}
form a {
  float: right;
  color: #0b5500;
  font-size: 0.9em;
}
form a:hover, form a:active {
  color: #ca6e00;
}
form button {
  display: block;
  margin: 0.4em auto;
}

/*# sourceMappingURL=app.css.map */
